@use "../../styles/colors";
@use "../../styles/breakpoints";
@import "../../styles/mixin";

.inputContainer {
  position: relative;
  // margin-top: 20px;
  label {
    font-weight: 600;
    font-size: 14px;
    color: #2c2c2c;
  }
  input {
    border-radius: 4px !important;
    padding: 10px 8px;
    font-size: 14px;
    margin-top: 5px;
    width: 400px;
    background: #f4f4f4;
    border: 2px solid #d5d5d5;
    color: black;
    &:focus {
      outline: none;
      border: 2px solid #5d77a0 !important;
    }
    &::placeholder {
      color: #4142429a;
      @media (max-width: breakpoints.$md) {
        color: #574e4e8c;
        font-size: 14px;
      }
    }
  }
  .icon {
    position: absolute;
    right: 11px;
    top: 16px;
    width: 25px;
    height: 25px;
  }
  .errorMessage {
    position: absolute;
    display: block;
    font-size: 12px;
    color: #ff5050;
  }
}
