.container {
    margin: 20px 0 0 30px;
    border-radius: 7px;
    table {
        width: 100%;
        th {
            text-align: center;
            padding: 15px 0;
            font-weight: 600;
            font-size: 14px;
            color: #676A6F;
        }
        td {
            text-align: center;
            padding: 10px 0;
            font-weight: 275;
            font-size: 12px;
        }
        .color{
            color: #7BDDA2;
            font-weight: 800;
        }
    }
}