.container{
    display: flex;
    flex-direction: column;
    .display{
        display: flex;
    }
    .data{
        flex: 1;
    }
    .img{
        display: flex;
        margin-top: 70px;
    }
}