.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .leftFlex {
    display: flex;
    align-items: center;
    .para {
      font-weight: 700;
      font-size: 13px;
      color: #626262;
      margin: 0 14px;
    }
    select {
      margin: 0px 6px;
      height: 29px;
      padding: 0px 7px;
      background-size: 10px;
      background-position: 83% 47%;
    }
  }

  .rightFlex {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    margin-right: 15px;
    padding: 10px;
    .p {
      font-weight: 600;
      font-size: 13px;
      color: #2d2d32;
      margin-right: 10px;
    }

    img {
      margin-left: 10px;
      height: 12px;
      width: 12px;
      cursor: pointer;
      @media (max-width: 840px) {
        height: 9px;
        width: 9px;
        margin-left: 6px;
      }
    }

    .p {
      @media (max-width: 450px) {
        display: none;
      }
    }
  }
}
