.container {
    width: 110px;
    text-align: center;
    margin: 27px 0 0 0;
    height: 38px;
    align-items: center;
    display: flex;
    justify-content: center;
    .para {
        font-weight: 600;
        font-size: 16px;
        color: #000000;
    }
}