.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .display {
        display: flex;
    }
    .data {
        flex: 1;
        .tab {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px 30px 3px;
        }
        .tabs {
            display: flex;
            justify-content: space-between;
            margin: 0px 30px;
        }
        .items{
            height: calc(100vh - 257px);
        }
    }
}